.App {
  background-color: gray;
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
  }
}

.sidebar-main {
  background-color: pink;
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

@media (min-width: 768px) {
  .sidebar-main {
    width: 25%;
    height: 100vh;
  }
}

.item-main {
  background-color: aqua;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.title,
.sub-title {
  margin-bottom: 0.5rem;
  display: flex;
}

.header {
  margin-right: 0.5rem;
  font-weight: 600;
}

.info-main {
  background-color: skyblue;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .info-main {
    width: 75%;
  }
}

.photos-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-items: center;
}

@media (min-width: 1024px) {
  .photos-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Photo items */
.image-main {
  height: 9rem;
  border-radius: 10px;
  width: 80%;
  object-fit: cover;
}
